@charset "utf-8";
/*
	Final Project
	Author: Diego Goslar
	Date: 7/25/2022
	
	Filename: homestyle.css */
#forum {
	float: left;
	margin: 0 0 0 2.5%;
	width: 22.5%;
}

#main {
	float: left;
	margin: 0 2.5%;
	width: 45%;
}

#mmm {
	float: left;
	margin: 0 2.5% 0 0;
	width: 22.5%;
}
#aud{
	float: left;
	margin: 0 2.5% 0 0;
	width: 22.5%;
}

footer {
	clear: left;
	padding-top: 10px;
	color: #8b0000;
}

body{
	background-image: url('https://github.com/Kill3rFox/Kill3rFox.github.io/blob/main/stargen2.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	
	color:white;
}

#survey{
	color: #B1ADB8;
}

header{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 50px;
	color: #06138c;
	font-family: Brush Script MT, Brush Script Std, cursive;
	
}
