/*
   Final Project
   Author: Diego Goslar
   Date:   7/28/2022

   Filename: tables.css

*/
table, th, td{
	border: 1px solid;
	background-color: #2F1A5C;
	color: #B1ADB8;
}

a:hover {
	color: red;
}
a:visited{
	color:black;
}
a:link{
	color: #B1ADB8;
}